*{
    margin: 0;
    padding: 0;
    font-family: cursive;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container video{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

h2{
    display: flex;
    font-size: 12vw;
    color: transparent;
}

h2 span{
    animation: diwali 5s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}



@keyframes diwali{
    0%{
        color: #fff;
        filter: blur(1px) hue-rotate(0deg);

        text-shadow: 0 0 10px #00b3ff,
        0 0 20px #33FF56,
        0 0 40px #FF3366,
        0 0 80px #F433FF,
        0 0 100px #FF3F33,
        0 0 200px #3F2CDB,
        0 0 300px #C310BD,
        0 0 400px #59B16E;

    }
    30%,70%{
        color: #fff;
        filter: blur(1px) hue-rotate(0deg);
        
        text-shadow: 0 0 10px #00b3ff,
        0 0 20px #33FF56,
        0 0 40px #FF3366,
        0 0 80px #F433FF,
        0 0 100px #FF3F33,
        0 0 200px #3F2CDB,
        0 0 300px #C310BD,
        0 0 400px #59B16E
    } 
    100%{
        color:transparent;
        box-shadow: none;
        filter: blur(2px) hue-rotate(0deg);

    }
}